body {
  background: #777;
  padding: 0;
  margin: 0;
}
.tudo{
  padding: 0 0 0 50px;
}
header{
  width: 100%;
  text-align: center;
}
h1{
  color: white;
  opacity: 0.6;
}
h1:hover{
  cursor:pointer;
  color:black;
  font-family: georgia;
  opacity: 1;
  transition: all 3s;

}
.tabela{
  width: 2000px;
  margin: 0px 0 0 0;
  height: auto;
}
 .esq{
  float: left;
  position: relative;
  width: 70px;
  height: 70px;
  background: #fff;
  margin: 0 5px 5px 0;
  text-align: center;
  opacity: 0.7;
  transition: all 2s;
  transition-duration: 1s, 2s;
  transition-property: color, width,height;
}
.esq:hover{
  opacity:1;
}
.grupo1{
  width: 70px;
  height: auto;
  padding: 5px 5px 0px 5px;
  position: absolute;
  float:left;
 background-color: red;
 overflow: hidden;


}
.grupo2{
  width: 70px;
  height: auto;
  padding: 5px 5px 0 5px;
  margin: 75px 0 5px 81px;
  position: absolute;
  float:left;
  background-color: blue;
}
.grupo3_12{
  width: 750px;
  height: auto;
  padding: 5px 0px 0 5px;
  margin: 225px 0 5px 163px;
  padding: absolute;
  float:left;
  background-color: pink;
}
.grupo13_14{
  width: 150px;
  height: auto;
  padding: 5px 0px 0 5px;
  margin: 75px 0 5px 919px;
  position: absolute;
  float:left;
  background-color: yellow;
}
h2{
  color : orange;
  font-family:sans-serif;
}



